<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyjf.bi.dao.HjhPlanMapper">
    <resultMap id="BaseResultMap" type="com.hyjf.bi.pojo.HjhPlan" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
        <result column="plan_name" property="planName" jdbcType="VARCHAR" />
        <result column="lock_period" property="lockPeriod" jdbcType="TINYINT" />
        <result column="is_month" property="isMonth" jdbcType="TINYINT" />
        <result column="expect_apr" property="expectApr" jdbcType="DECIMAL" />
        <result column="min_investment" property="minInvestment" jdbcType="DECIMAL" />
        <result column="max_investment" property="maxInvestment" jdbcType="DECIMAL" />
        <result column="investment_increment" property="investmentIncrement" jdbcType="DECIMAL" />
        <result column="available_invest_account" property="availableInvestAccount" jdbcType="DECIMAL" />
        <result column="repay_wait_all" property="repayWaitAll" jdbcType="DECIMAL" />
        <result column="plan_invest_status" property="planInvestStatus" jdbcType="TINYINT" />
        <result column="add_time" property="addTime" jdbcType="INTEGER" />
        <result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
        <result column="coupon_config" property="couponConfig" jdbcType="VARCHAR" />
        <result column="join_total" property="joinTotal" jdbcType="DECIMAL" />
        <result column="plan_wait_captical" property="planWaitCaptical" jdbcType="DECIMAL" />
        <result column="plan_wait_interest" property="planWaitInterest" jdbcType="DECIMAL" />
        <result column="repay_total" property="repayTotal" jdbcType="DECIMAL" />
        <result column="plan_repay_interest" property="planRepayInterest" jdbcType="DECIMAL" />
        <result column="plan_repay_capital" property="planRepayCapital" jdbcType="DECIMAL" />
        <result column="create_user" property="createUser" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="INTEGER" />
        <result column="update_user" property="updateUser" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="INTEGER" />
        <result column="del_flg" property="delFlg" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, plan_nid, plan_name, lock_period, is_month, expect_apr, min_investment, max_investment,
        investment_increment, available_invest_account, repay_wait_all, plan_invest_status,
        add_time, borrow_style, coupon_config, join_total, plan_wait_captical, plan_wait_interest,
        repay_total, plan_repay_interest, plan_repay_capital, create_user, create_time, update_user,
        update_time, del_flg
    </sql>


    <select id="selectByPlanNid" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from hyjf_hjh_plan
        where plan_nid = #{planNid}
    </select>



</mapper>