<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.bs.dao.mapper.auto.GatewayApiConfigMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.bs.dao.model.auto.GatewayApiConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="service_id" property="serviceId" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="retryable" property="retryable" jdbcType="BIT" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="strip_prefix" property="stripPrefix" jdbcType="INTEGER" />
    <result column="api_name" property="apiName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, `path`, service_id, url, retryable, enabled, strip_prefix, api_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.bs.dao.model.auto.GatewayApiConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from s_gateway_api_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from s_gateway_api_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from s_gateway_api_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.bs.dao.model.auto.GatewayApiConfigExample" >
    delete from s_gateway_api_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.bs.dao.model.auto.GatewayApiConfig" >
    insert into s_gateway_api_config (id, `path`, service_id, 
      url, retryable, enabled, strip_prefix, 
      api_name)
    values (#{id,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, #{serviceId,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{retryable,jdbcType=BIT}, #{enabled,jdbcType=BIT}, #{stripPrefix,jdbcType=INTEGER}, 
      #{apiName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.bs.dao.model.auto.GatewayApiConfig" >
    insert into s_gateway_api_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="path != null" >
        `path`,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="retryable != null" >
        retryable,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="stripPrefix != null" >
        strip_prefix,
      </if>
      <if test="apiName != null" >
        api_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="retryable != null" >
        #{retryable,jdbcType=BIT},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="stripPrefix != null" >
        #{stripPrefix,jdbcType=INTEGER},
      </if>
      <if test="apiName != null" >
        #{apiName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.bs.dao.model.auto.GatewayApiConfigExample" resultType="java.lang.Integer" >
    select count(*) from s_gateway_api_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update s_gateway_api_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.path != null" >
        `path` = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceId != null" >
        service_id = #{record.serviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.retryable != null" >
        retryable = #{record.retryable,jdbcType=BIT},
      </if>
      <if test="record.enabled != null" >
        enabled = #{record.enabled,jdbcType=BIT},
      </if>
      <if test="record.stripPrefix != null" >
        strip_prefix = #{record.stripPrefix,jdbcType=INTEGER},
      </if>
      <if test="record.apiName != null" >
        api_name = #{record.apiName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update s_gateway_api_config
    set id = #{record.id,jdbcType=INTEGER},
      `path` = #{record.path,jdbcType=VARCHAR},
      service_id = #{record.serviceId,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      retryable = #{record.retryable,jdbcType=BIT},
      enabled = #{record.enabled,jdbcType=BIT},
      strip_prefix = #{record.stripPrefix,jdbcType=INTEGER},
      api_name = #{record.apiName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.bs.dao.model.auto.GatewayApiConfig" >
    update s_gateway_api_config
    <set >
      <if test="path != null" >
        `path` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="retryable != null" >
        retryable = #{retryable,jdbcType=BIT},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="stripPrefix != null" >
        strip_prefix = #{stripPrefix,jdbcType=INTEGER},
      </if>
      <if test="apiName != null" >
        api_name = #{apiName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.bs.dao.model.auto.GatewayApiConfig" >
    update s_gateway_api_config
    set `path` = #{path,jdbcType=VARCHAR},
      service_id = #{serviceId,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      retryable = #{retryable,jdbcType=BIT},
      enabled = #{enabled,jdbcType=BIT},
      strip_prefix = #{stripPrefix,jdbcType=INTEGER},
      api_name = #{apiName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>